---
const { title, url, image, description } = Astro.props;
---

<li class="grid-item">
  <a href={url} class="link">
    <div class="image-container">
      <img src={image.url} alt={image.alt} loading="lazy" />
    </div>
    <div class="content">
      <h3 class="title">{title}</h3>
      <p class="description">{description}</p>
      <div class="read-more">READ MORE</div>
    </div>
  </a>
</li>

<style>

</style>
